@model List<FastFood.Models.Category>

@{

    ViewData["Title"] = "Lista de Categorías";
}

<h2>Lista de Categorías</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Habilitada</th>
            <th>Fecha de Creación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><img src="@item.ImageUrl" alt="Imagen de la Categoria" class="img-thumbnail" style="width:100px;" /></td>
                <td>@item.IsActive</td>
                <td>@item.CreateDate.ToLongDateString()</td>
            </tr>
        }
    </tbody>
</table>